                        <div class="row">
                            <div class="col-md-6 col-sm-6 margin-top-10">
                                <img src="<?php echo base_url();?>captcha/captcha.php" id="captcha" class="img-responsive"/><br/>

                                <a href="javascript://" onclick="

                                document.getElementById('captcha').src='<?php echo base_url();?>captcha/captcha.php?'+Math.random();

                                document.getElementById('captcha-form').focus();"

                                id="change-image" class="lable_title text-right">Not readable? Change text.</a>
                           </div>
                           <div class="col-md-6 col-sm-6" id="r_captcha">
                            	<input type="text" name="captcha" id="captcha-form" class="form-control" />
                                <div class="text-right">
                            		<input type="submit" name="send" id="send" onclick="checkauth()" value="Send a Post Card" class="btn btn-lg btn-primary" />
                        		</div>
                            </div>
                        </div>